node_modules/
.parcel-cache/
packages/viz/component/demo/target
packages/viz/component/graphviz-14.0.2*
packages/viz/component/graphviz-14.0.2-wasi-build
packages/viz/component/graphviz-14.0.2-wasi-install
packages/viz/component/graphviz-14.0.2.tar.gz
packages/viz/component/wasi_snapshot_preview1.reactor.wasm
packages/viz/component/viz.wasm
packages/viz/component/viz.core.wasm
